<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Kontakt Information</h4>
                    </div>
                    <p><i class="fa fa-map-marker"></i> Platz der Deutschen Einheit 1 03046 Cottbus</p>
                    <ul>
                        <li><span>Phone:</span><a href="#">+1 333 4040 5566</a></li>
                        <li><span>Email:</span><a href="#">contact@company.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</main>
<div class="sub-footer">
    <p>Copyright © 2021 Brandenburgische Technische Universität <a href="https://www.b-tu.de/">b-tu.de</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="../../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="../../js/vendor/bootstrap.min.js"></script>
<script src="../../js/datepicker.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>
</body>
</html>
