<%- include ('partials/homeheader.ejs') %>
    
    <section class="banner banner-secondary" id="top" style="background-image: url(img/banner-image-3-1920x300.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>Fragen & Antworten</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
                <div class="box ui-widget-content ui-corner-all">
                    <h1>Fragen &amp; Antworten</h1>
                    <p><strong>Frage: Wie funktioniert das Probandenportal?</strong></p>
                    <p>Antwort:</p>
                    <ol>
                        <li>Registrieren: Sie tragen Ihre persönlichen Testdaten ein. Wir nehmen Sie anschließend als Proband in unsere Datenbank auf.</li>
                        <li>Für Studie anmelden: Sie können unter Ihrem persönlichen Profil Studien einsehen, die zu Ihrem Testprofil passen und sich einfach und bequem für eine Teilnahme anmelden.</li>
                        <li>An Studie teilnehmen: Sie erscheinen zum vereinbarten Termin und nehmen an der Studie teil. (Für Internetstudien müssen Sie noch nicht einmal das Haus verlassen. Diese können Sie bequem am heimischen Computer absolvieren.)</li>
                        <li>Vergütung erhalten: Nach der Studienteilnahme erhalten Sie unkompliziert die angegebene Vergütung.</li>
                        <li>Weitere Studien: Wenn es weitere Studien gibt, die zu Ihrem Testprofil passen, kontaktieren wir Sie unverbindlich via E-Mail. Dann können Sie frei entscheiden ob Sie sich erneut für eine Studie anmelden.</li>
                    </ol>

                    <p><strong>Frage: Kann ich auch nur an einer einzelnen Studie teilnehmen, ohne mich beim Portal zu registrieren.</strong></p>
                    <p>Antwort: Ja. Wählen Sie die entsprechende Option einfach bei der Registrierung. Ihre Daten werden nach der Teilnahme direkt gelöscht.</p>

                    <p><strong>Frage: Ist die Studienteilnahme schwierig?</strong></p>
                    <p>Antwort: Nein, an unseren Studien kann jeder teilnehmen. Es wird keinerlei Fachwissen vorausgesetzt. Wenn spezielle Vorraussetzungen für die Studie gebraucht werden, ist dies in der Beschreibung der Studie vermerkt.</p>

                    <p><strong>Frage: Was ist wenn ich doch kurzfristig nicht zur Teilnahme erscheinen kann?</strong></p>
                    <p>Antwort: Das ist natürlich kein Problem. Sie müssen den Studienleiter nur rechtzeitig informieren (die Kontaktdaten erhalten sie nach Anmeldung). Trotzdem bitten wir Sie sich vorher gut zu überlegen, ob Sie zu dem gegebenen Termin auch wirklich Zeit haben.</p>

                    <p><strong>Frage: Ich möchte nicht mehr an Studien teilnehmen und möchte aus dem System gelöscht werden. Wie kann ich meinen Account löschen?</strong></p>
                    <p>Antwort: Sollten Sie kein Interesse mehr an der Teilnahme an Studien haben, kontaktieren Sie uns einfach via <a href="email btu">E-Mail</a> und wir löschen Ihre Daten aus der Datenbank.</p>

                    <p><strong>Frage: Wie wird die Vergütung bezahlt?</strong></p>
                    <p>Antwort: Die Vergütung selbst, sowie auch deren Austeilung unterscheiden sich von Studie zu Studie. Die Vergütung kann auch Aufwands- bzw. Leistungsbezogen sein und entsprechend variieren. Dies ist dann aber in der Beschreibung der Studie erwähnt. Die Versuchsleiter garantieren Ihnen jedoch, dass Sie die angegebene Vergütung schnellstmöglich nach der Teilnahme erhalten.</p>

                    <p><strong>Frage: Ich habe mich angemeldet und plötzlich sind die Studien, die mich interessieren verschwunden.</strong></p>
                    <p>Antwort: Das Portal nutzt ein System, dass Ihr Testprofil mit den Anforderungen einer Studie vergleicht. So gibt es z.B. Studien die nur für Frauen konzipiert sind. Sollte Ihr Testprofil nun zeigen, dass Sie männlich sind, wird die Studie für Sie leider nicht mehr angeboten.</p>

                    <ul>

                    </ul>
                </div>
    </main>

    <%- include ('partials/homefooter.ejs') %>    