<%- include ('partials/homeheader.ejs') %>

<section class="signup-form">
    <div class="container">
        <h1> Login</h1>
             <div class=" signup-form-form">
             <form action="includes/login.inc.php" method="post" >
            <input type = "text" name="uid" placeholder="Email">
            <input type="password" name="pwd" placeholder="Passwort">

            <button type="submit" name="submit">Login</button>


        </form>
        </div>
    </div>

</section>

<%- include ('partials/homefooter.ejs') %>    